/* ================================= 
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 Helvetica, Arial, sans-serif;
  color: white;
  background: rgb(59, 204, 100);
}

ul {
  list-style: none;
  margin-left: -28px; /* Overrides user agenst stylesheet */
}

p {
  text-align: center;
}

/* ================================= 
   Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav li {
  text-align: center;
	background: #000000;
	margin-top: 6px;
  margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.main-nav a {
  padding: 10px 15px;
  display: block;
}

/* ---- Layout Containers ---- */

.arrow {
  width: 50px;
  margin-top: 50px;
}

.f2d {
  width: 100%;
}

.donate {
  display: block;
  margin: 0 auto;
  padding-bottom: 10%;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
  text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: rgb(59, 204, 100);
	margin-bottom: 10%;
}

.ptext {
  padding-bottom: 10%;
}

.media {
  text-align: center;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: rgb(59, 204, 100);
}

/* ---- Buttons ---- */

.mediabuttons{
  display: flex;
}

.mediabuttons > div {
  flex: 1; /* grow */
}

.dbutton{
  width: 40%;
}

/* ================================= 
  Pseudo Classes
==================================== */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  
    .wrap {
      min-height: calc(100vh - 144px);
    }
  
    .container {
      width: 80%;
      max-width: 1150px;
      margin: 0 auto;
    }
  
    .name,
    .main-nav li{
      display: inline-block;
    }
  
    .name {
      width: 240px;
    }

    .main-nav li {
      margin-right: 12px;
    }

    .dbutton {
      width: auto;
    }

    .f2d {
      max-width: 50%;
    }

    .main-header {
      padding-bottom: 0;
    }

    .donate {
      padding-bottom: 2em;
    }

    .ptext {
      padding-bottom: 2em;
      margin-left: 15%;
      margin-right: 15%;
    }
  }